<div class="container">
    <h1>{{ titulo }}</h1>
    <div>
        <form (ngSubmit)="search()" [formGroup]="searchForm" >
            <div class="row">
                <div class="col-8">
                    <div class="mb-3">
                        <label for="codzip" class="form-label">Zip code</label>
                        <input type="text" class="form-control" id="codzip" formControlName="codzip" placeholder="Ejm. 94040">
                    </div>
                </div>
                <div class="col-4 mt-4">
                    <button class="btn btn-primary" [disabled]="searchForm.invalid">Add location</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="(mylocation | json) !== '{}'; else sinLocation">
        <app-tarjeta-localizacion [localizacion]="mylocation"></app-tarjeta-localizacion>
    </div>
    <ng-template #sinLocation>
        <div class="alert alert-danger" role="alert"  *ngIf="showmessage">
            {{ message }}
        </div>
    </ng-template>    
</div>